web/WEB-INF/schema/bds.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="thien.doc"
           elementFormDefault="qualified">
    <xs:element name="houses">
        <xs:complexType>
            <xs:attribute name="link" type="xs:string"/>
            <xs:attribute name="host" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
